<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>astrapi</vendor>
  <vendor_url>https://github.com/astrapi69/linux-setup</vendor_url>

  <action id="org.astrapi.linux-setup.manage">
    <message>Authentication required to manage system security</message>
    <description>Allow user to run security hardening tasks</description>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>
</policyconfig>